@use "../assets/styles/space";
@use "../assets/styles/breakpoints";

.GetStarships {

  .wrap {
    margin: 0 space.of(4);

    @include breakpoints.tablet {
      margin: 0 space.of(12);
    }
  }

  .title {
    margin-bottom: space.of(5);

    @include breakpoints.tablet {
      margin-bottom: space.of(8);
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    margin: space.of(7) 0;
    align-items: center;
  }

  .previousPage {
    margin-right: space.of(3);
  }
}

// TODO: probably pull this into its own component
header {
  margin-bottom: space.of(15);
}
