@use "../assets/styles/space";
@use "../assets/styles/breakpoints";

.Starships {
  display: flex;
  flex-direction: column;

  .starshipRow {
    display: flex;
    flex-direction: column;

    + .starshipRow {
      margin-top: space.of(4);
    }

    @include breakpoints.tablet {
      flex-direction: row;


      &.half {
        width: 50%;
      }
    }
  }
}
