@use "../assets/styles/space";
@use "../assets/styles/breakpoints";

.Starships {
  display: flex;
  flex-direction: column;

  .starshipRow {
    display: flex;
    flex-direction: column;

    @include breakpoints.tablet {
      flex-direction: row;

      + .starshipRow {
        margin-top: space.of(4);
      }

      &.half {
        width: 50%;
      }
    }
  }
}
