html {
  font-size: 62.5%; // 10px
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.8rem;
  font-family: 'Helvetica', sans-serif;
  color: var(--white);
  background-color: var(--darker-grey);
  line-height: 2.1rem;
}

:root {
  --white: #ffffff;
  --darker-grey: #000408;
  --dark-grey: #232524;
  --pink: #FF6871;
}

h1 {
  font-size: 4.6rem;
  font-weight: bold;
  line-height: 5.5rem;
}

h2 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.8rem;
}
